// Section main
section {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(4, 400px);

    article {

        background-color: whitesmoke;
        text-align: center;
        background-size: cover;
        background-position: center;
        height: 500px;
        position: relative;
        box-shadow: 0 0 5px 5px rgb(80, 0, 80), 0 0 5px 5px white;

        h2 {
            color: rgb(255, 255, 255);
            width: 100%;
            background-color: rgba(100, 100, 100, 0.8);
            padding: .25em 0;
        }

        .article_infos {
            background-color: rgba(100, 100, 100, 0.8);
            width: 100%;

            position: absolute;
            bottom: 0;

            p {
                margin: .2rem;
                color: lightgray;
            }
        }
    }
}
